@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto&display=swap');

.footer{
   background-color: #2C2C2C;

}

.footer__contenido{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 2.5rem 0;

}
@media(min-width:500px){
   .footer__contenido{
      flex-direction: row;
      justify-content: space-between;
      margin: auto 2rem;
   }
}
.contenido__title h2{
   font-family: 'Orbitron';
   color: #fff;
}

.contenido__icon{
   font-family: 'Poppins';
   display: flex;
   flex-direction: column;
   align-items:flex-start;
   justify-content:center;
   margin: 2rem;
   row-gap: 1rem;
}
@media(min-width:500px){
   .contenido__icon{
      margin: 0;
   }
}
.contenido__icon a{
   color: #fff;
   text-decoration: none;
}

.contenido__icon img{
   margin-right: 0.7rem;
}