@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto&display=swap');

*{
   box-sizing: border-box;
   margin: 0;
}
.header{
   background-image: url("../imagenes/image\ 4.png");
   background-size: cover;
   background-position: center;
   height: 90vh;
   display: flex;
   flex-direction: column;
}

@media(min-width:375px){
   .header{
      background-position: center;
   }
}
.header__menu{
   display: flex;
   margin: 1rem;
   justify-content: space-between;

}

.menu__logo{

}

.menu__logo .logo__title{
   font-family: 'Orbitron';
   color: #fff;
}

/* -------- MENU NAVEGACION ---------- */

.menu__enalaces{
   

}

.enlace__barra{
   padding: 0;
}
.enlace__barra li{
   list-style: none;
   
}

.enlace__barra a > div{
   width: 25px;
   height: 5px;
   background-color:#fff;
   margin-top: 5px;
}

.barra__enlaces{
   font-size: 3rem;
   display: none;
   top: 0%;
   right: 0;
   position: fixed;
   left: 0;
   bottom: 0;
   background-color: #161616;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   row-gap: 5rem;
   height: 100vh;
   z-index: 10;
   padding: 0;
   transition: top 1s;  
   
}
.barra__enlaces li a{
   color: #fff;
   text-decoration: none;
}

.barra__enlaces .enlaces__close{
   top: 0;
   right: 0;
}
.barra__enlaces .enlaces__close a{
   font-family: 'Orbitron';
   font-size: 2rem;
}
.enlaces__close{
   display: block;
   position:absolute;
   top: 35px;
   right: 30px;
   text-align: center;
   margin-right: 1rem;

}

.enlaces__close a{
   text-decoration: none;
   font-family: 'Roboto';
   color: #fff;
}

/* ------------- */
.header__title {
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   font-family: 'Roboto';
   color: #fff;
   font-size:1.5rem;
   height: 100%;
}

.title__titulo span{
   display: block;
}

/* ---PRESENTACION--- */

.presentacion{
   background-color: #141414;
   padding: 2rem;
   height: 70vh;
   justify-content: center;
   text-align: center;
}
.presentacion__contenido{
   display:flex;
   flex-direction: column;
   ;
   color: #fff;
   font-family: 'Roboto';
   justify-content: center;
   align-items: center;
   row-gap: 2rem;
   height: 100%
}
.contenido__title{
   font-size: 1.7rem;
   text-align: center;
   margin-bottom:2rem;
}

