.header{
   /* background: linear-gradient(to right, #e66465, #9198e5); */
   background:#000;
   height: auto;
}

.header__title{
   display: none;

}

.contenido{
   background-color: #000;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.contenido__title h2{
   font-family: 'Poppins';
   margin-bottom: 2rem;
   font-weight: 900;

}
.contenido__contenful{
   display: flex;
   flex-direction: column;
   column-gap: 4rem;
   text-align: center;
   margin-bottom: 4rem;
   justify-content: center;
   align-items: center;
   margin: auto 2rem;
   margin-bottom: 2rem;
}

@media(min-width:700px){
   .contenido__contenful{
      flex-direction: row;
      row-gap: 4rem;
   }
}
.contenful__contenido{
   color:#fff;
   display: flex;
   flex-direction: column;
   row-gap: 1rem;
   margin-bottom: 1rem;
   width: 95%;
   border: solid 1px #fff;
   border-radius: 11px;
   height: 100vh;

}

.img{
   width: 100%;
   height: 255px;
}   
.article__informacion{
   padding: 20px;
}

.contenido__titulo{
   font-family: 'Poppins';
   margin-bottom: 1.3rem;
   font-weight: 900;

}   

.contenido__description{
   font-family: 'Roboto';
   font-size: 0.8rem;
   font-weight: 100;
}
.contenido__enlace{
   margin-top: 30px;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}
.contenido__enlace a{
   color: rgb(116, 116, 240);
   text-decoration: none;
   font-weight: 700;
}
.contenido__enlace a:hover{
   color: rgb(163, 143, 255);

}
.contenido__enlace a:active{
   color: rgb(139, 139, 235);
   font-size: 1.1rem;
}